@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');

*,
*::before,
*::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Dongle', sans-serif;
   
}
  
 ::-webkit-scrollbar{
    display:none;
}

body{
    height: 100vh;
}







